<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>复选框</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <input v-model="checked" type="checkbox" value="html">
        <label>html</label>
        <input v-model="checked" type="checkbox" value="java">
        <label>java</label>
        <input v-model="checked" type="checkbox" value="SpringBoot">
        <label>SpringBoot</label>
        <input v-model="checked" type="checkbox" value="SpringMVC">
        <label>SpringMVC</label>

        <p>选择了{{checked}}</p>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                checked: ['html']
            }
        })
    </script>
</body>
</html>
