<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件渲染指令</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- 条件语句中条件为真时元素显示，否则隐藏，if;else if;else之间的关系与java相同 -->
        <p v-if="status == 1">当status为1时显示这一行</p>
        <p v-else-if="status == 2">当status为2时显示这一行</p>
        <p v-else>其他情况显示这一行</p>
        <!-- v-show="判断语句"也可以达到相同效果，相比之下，v-show更适合内容需要频繁切换的场景。
         因为v-if的开销更大。但是需要注意v-show不适用与template元素-->

        <!-- 当一次判断多个元素时，使用vue内置的<template>元素使用条件指令，最终显示页面不会渲染该<template>元素 -->
        <template v-if="status == 1">
            <p>判断多个元素</p>
            <p>判断多个元素</p>
            <p>判断多个元素</p>
        </template>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                status: 1
            }
        })
    </script>
</body>
</html>
