<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染指令</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="book in books">{{book.name}}</li>
        </ul>
        <ul>
            <li v-for="(book, index) in books">{{index}} - {{book.name}}</li>
        </ul>
        <ul>
            <template v-for="book in bookss">
                <li>书名： {{book.name}}</li>
                <li>作者： {{book.author}}</li>
            </template>
        </ul>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                books: [
                    { name:'《Vue.js 实战》' },
                    { name:'《JavaScript 语言精粹》' },
                    { name:'《JavaScript 高级程序设计》' }
                ],
                bookss: [
                    {
                        name: '《Vue.js 实战》',
                        author: 'yyl'
                    },
                    {
                        name: '《JavaScript 语言精粹》',
                        author: 'zxy'
                    },
                    {
                        name: '《JavaScript 高级程序设计》',
                        author: 'zxx'
                    }
                ]
            }
        })
    </script>
</body>
</html>
